{
    "jobs": [{
        "functionLocation": "/query.jsw",
        "functionName": "random",
        "description": "Create new order in boats for sale",
        "executionConfig": {
            "time": "00:00"
        }
    }, {
        "functionLocation": "/query.jsw",
        "functionName": "testHour",
        "description": "Test Hour Parker Marine Group",
        "executionConfig": {
            "time": "00:00"
        }
    }]
}