// Jobs Config Generator
// https://wix.to/NDAQn6c

{
    "jobs": [{
            "functionLocation": "/collections.web.js",
            "functionName": "getAllProductInformation",
            "description": "Update Best Before collection",
            "executionConfig": {
                "time": "00:00"
            }
        },
        {
            "functionLocation": "/collections.web.js",
            "functionName": "updateBestBeforeCollections",
            "description": "Update Best Before collection",
            "executionConfig": {
                "time": "00:10"
            }
        },
        {
            "functionLocation": "/collections.web.js",
            "functionName": "getBestBeforeToSendEmail",
            "description": "Send Email Best Before Products",
            "executionConfig": {
                "time": "00:15"
            }
        }
    ]
}