// /backend/jobs.config
{
  "jobs": [ // Define up to 20 different jobs
    // Choose one of the options below to define the job execution interval:
    {
      // Option 1 - define execution interval using a cron expression
      "functionLocation": "/module/filename.js(w)", // Relatively to Backend folder, started by slash
      "functionName": "funcName",
      "description": "describe your job", // Optional
      "executionConfig": {
        "cronExpression": "0 8 * * *" // Set intervals of up to 1 hour 
        // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
      }
    },
    {
      // Option 2 - define execution interval by setting time, day of week and day of month
      "functionLocation": "/module/filename.js(w)", // Relatively to Backend folder, started by slash
      "functionName": "funcName",
      "description": "describe your job", // Optional
      "executionConfig": {
        "time": "08:00", // "hh:mm" 24h format, UTC timezone (e.g. 13:00) 
        // Optional - uncomment section below for more complex intervals
        //"dayOfWeek": "Monday", // Day of week 
        //"dateInMonth": 1 // Number between 1-31 
      }
    },
    {
    // Add more jobs. Up to 20 jobs supported.
    }
  ]
}
